<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pages.css">
    <title>Alacena</title>
</head>
<body>
    <main class="main-sugerencias">
        <div class="contenedor-sugerencias">
            <div class="contenedor-texto">
                <p> Tengo que hacer todavía esta página</p>
                <p> Pero ya otro día</p>
                <p> Que me da pereza.</p>
                <p> Cripi.</p>

            </div>
        </div>
    </main>
    <%- include("../../partials/cabecera.ejs", { titulo: "Sugerencias" }) %>
</body>
</html>