<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global/global.css">
    <link rel="stylesheet" href="/paginas/pages.css">
    <title>Inicio</title>
</head>
<body>
    <main class="inicio">
        <div class="inicio-contenedor-botones">
            <div>
                <div><a href="/tuppers/ver-tupper"><button class="inicio-boton boton">Ver tuppers</button></a></div>
            </div>
            <div>
                <div><a href="/tuppers/nuevo-tupper"><button class="inicio-boton boton">Anadir nuevo tupper</button></a></div>
            </div>
            <div>
                <div><a href="/tuppers/sugerencias"><button class="inicio-boton boton">Sugerencias</button></a></div>
            </div>
        </div>
    </main>
    <!-- <h2 class="cabecera-principal">
        <p class="cabecera-principal_titulo">Inicio</p>
    </h2> -->
</body>
</html>