<header>
    
    <div class="cabecera-principal">
        <h2 class="cabecera-principal_titulo"><%= titulo %></h2>
        <a  href="/"><button class="cabecera-principal_volver">volver atrás ↩</button></a>
    </div>
</header>
        